{% extends "learning_logs/base.html" %}
{% block content %} 
<p>Topics</p> 
  <ul>
    {% for topic in topics %}

     <li>
        <a href="{% url 'topic' topic.id %}">{{ topic }}</a>
       <form method="post" action="{% url 'delete_topic' topic.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">delete</button>
        </form>
        <form method="post" action="{% url 'edit_topic' topic.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">修改</button>
        </form>

    </li>      {% empty %}
  <li>No topics have been added yet.</li>
     {% endfor %}
 </ul>
      <a href="{% url 'new_topic' %}">Add a new topic:</a>
{% endblock content %} 