{% extends 'learning_logs/base.html' %}
{% block content %}
    <p>Topic: {{ topic }}</p>
    <p>Entries:</p>
    <ul>
        {% for entry in entries %}
            <li>
                <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
                <p>{{ entry.text|linebreaks }}</p>
                <a href="{% url 'edit_entry' entry.id %}">edit entry</a>

                <!-- 添加删除按钮 -->
                <form method="post" action="{% url 'delete_entry' entry.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% empty %}
            <li>
                There are no entries for this topic yet.
            </li>
        {% endfor %}
    {% for entry_md in entries_md %}
            <li>
                <p>{{ entry_md.date_added|date:'M d, Y H:i' }}</p>
                <p>{{ entry_md.text|linebreaks }}</p>
         {% empty %}
            <li>
                There are no entries(markdown type) for this topic yet.

            </li>
    {% endfor %}
        <p>
            <a href="{% url 'new_entry' topic.id %}">add new entry</a>
            <a href="{% url 'new_entrymd' topic.id %}">add new entry(markdown_type)</a>

        </p>
    </ul>
{% endblock content %}
